<div>
    <form ng-submit="save()" name="modifyForm">
        <div class="form-group">
            <label for="name"> Name </label>
            <input type="text" class="form-control" id="name" ng-model="slide.name">
        </div>
        <div class="form-group">
            <label> Empty Description </label>
            <input type="checkbox" ng-model="slide.descNull">
        </div>
        <div class="form-group">
            <label> Description </label>
            <cd-ckeditor ng-model="slide.upperdescr"></cd-ckeditor>
        </div>
        <div class="form-group">
            <label> Down Description </label>
            <cd-ckeditor ng-model="slide.lowerdescr"></cd-ckeditor>
        </div>
        <div class="form-group">
            <hr />
            <label> Description Position </label>
            <div class="row">
                <div class="col-md-3" ng-repeat="type in enums.enumerate('classPosition')">
                    <input type="radio" ng-model="slide.descPos" ng-value="type.value" id="type-{{$index}}" />
                    <label for="type-{{$index}}">
                        <span class="img"></span>
                        <span ng-bind="type.caption.en"></span>
                    </label>
                </div>
            </div>
            <hr />
        </div>
        <div class="form-group">
            <label> Url (For example: http://mysite.com or https://mysite.com) </label>
            <input type="text" class="form-control" ng-model="slide.url">
        </div>
        <div class="form-group">
            <label> Create Date </label>
            <input type="text" class="form-control" ng-model="slide.createdAt" bs-datepicker ng-required="true">
        </div>
        <div class="form-group">
            <fieldset>
                <legend> Period </legend>
                <div>
                    <div class="form-group">
                        <label for="active-from"> from </label>
                        <input type="text" class="form-control" id="active-from" ng-model="slide.active.from" bs-datepicker ng-required="true">
                    </div>
                    <div class="form-group">
                        <label for="active-until"> to </label>
                        <input type="text" class="form-control" id="active-until" ng-model="slide.active.until" bs-datepicker ng-required="true">
                    </div>
                </div>
            </fieldset>
        </div>
        <hr />
        <div class="form-group">
            <label> Slide Image (1420x460) </label>
            <div ng-if="slide.img" class="form-group">
                <div style="margin: 12px 0">
                    <img src="{{slide.img}}/1420x460" alt width="400" />
                </div>
                <br />
            </div>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="slide.img" ng-disabled="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        ng-model="slide.img"
                        cd-uploader="{ enabled: true, name: 'file', action: '/api/slide/uploadImage', data: { resolutions: [{ width: 1420, height: 460 }] } }">
                        &nbsp;<span class="glyphicon glyphicon-paperclip"></span>
                </button>
                </span>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label> Logo (200x200)</label>
            <div ng-if="slide.logo" class="form-group">
                <div style="margin: 12px 0">
                    <img src="{{slide.logo}}/200x200" alt width="200" height="200" />
                </div>
                <br />
            </div>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="slide.logo" ng-disabled="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default"
                        ng-model="slide.logo"
                        cd-uploader="{ enabled: true, name: 'file', action: '/api/slide/uploadImage', data: { resolutions: [{ width: 200, height: 200 }] } }">
                        &nbsp;<span class="glyphicon glyphicon-paperclip"></span>
                </button>
                </span>
            </div>
            <div class="form-group">
            <hr />
            <label> Logo Position </label>
            <div class="row">
                <div class="col-md-3" ng-repeat="type in enums.enumerate('classPosition')">
                    <input type="radio" ng-model="slide.logoPos" ng-value="type.value" id="type-{{$index}}" />
                    <label for="type-{{$index}}">
                        <span class="img"></span>
                        <span ng-bind="type.caption.en"></span>
                    </label>
                </div>
            </div>
            <hr />
        </div>
        </div>
        <hr />
        <button class="btn btn-success" ng-disabled="!modifyForm.$valid"> Save </button>
    </form>
</div>
